<div class="songcard">
	<a href=<%= url %> class='song'>	
		<div class="coverart">
			<% unless coverart == '' %>
				<img src=<%= coverart %> />
			<%end%>
	</div>
		<div class="songinfo">
			<div id=<%= url %> class="title"><%= title.truncate(60) %></div>
		</div>
	</a>

	<% if session[:user_id] == user.id %>
	<%= link_to [@playlist, track], method: :delete, :class => "icon", data: { confirm: "Are you sure?" } do %>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="300.000000pt" height="300.000000pt" viewBox="0 0 300.000000 300.000000" preserveAspectRatio="xMidYMid meet">
			<g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
			<path d="M1434 2576 c-93 -43 -124 -108 -124 -257 0 -90 2 -99 22 -113 12 -9 38 -16 58 -16 20 0 46 7 58 16 20 14 22 23 22 105 0 128 2 129 173 129 177 0 177 0 177 -125 0 -86 2 -95 22 -109 28 -20 97 -20 123 0 18 13 20 26 19 122 0 123 -13 161 -74 216 -53 48 -92 56 -270 56 -142 0 -159 -2 -206 -24z"/>
			<path d="M1131 2499 c-215 -58 -351 -153 -386 -272 -33 -112 -12 -253 50 -327 19 -23 35 -50 35 -61 0 -10 27 -283 60 -606 67 -652 65 -641 145 -711 118 -104 336 -162 607 -162 287 0 515 62 626 169 78 76 64 -7 171 1038 l30 292 35 46 c49 64 59 105 54 226 -5 119 -16 148 -83 214 -70 68 -239 144 -377 170 l-36 7 14 -53 c8 -29 14 -63 14 -75 0 -19 11 -25 72 -44 163 -49 258 -120 258 -192 0 -68 -131 -155 -295 -197 -293 -74 -707 -72 -975 6 -102 29 -212 85 -245 125 -36 43 -34 97 6 143 35 40 143 95 235 121 l62 17 5 51 c3 28 8 61 12 74 9 27 4 27 -94 1z m31 -799 c14 -10 30 -32 37 -47 11 -27 101 -868 101 -943 0 -44 -19 -63 -61 -62 -31 1 -63 22 -79 53 -5 9 -32 233 -60 498 -37 355 -48 487 -40 501 14 26 69 26 102 0z m1073 4 c12 -12 14 -27 10 -58 -3 -22 -23 -216 -45 -431 -22 -214 -44 -419 -49 -454 -12 -77 -40 -112 -90 -113 -45 -1 -65 22 -63 73 4 99 94 924 102 940 28 52 102 75 135 43z m-533 -81 c17 -15 18 -44 18 -511 0 -447 -2 -497 -17 -514 -23 -26 -87 -24 -113 4 -20 21 -20 32 -20 510 0 475 1 489 20 508 25 25 86 27 112 3z"/>
			</g>
			</svg>
	<% end %>
	<% end %>
</div>
